<footer class="gradBg text-white p-4">
    <h3 class="py-3">Lorem ipsum dolor sit amet.</h3>
    <p class="text-white-50">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ipsa culpa iste possimus nulla, nam obcaecati quia exercitationem maiores quam voluptatem fugiat reprehenderit qui. Totam molestiae doloribus dolorum ipsa officia iste! Similique fugit libero aliquid fugiat dolorem facere aperiam est quae harum nobis error culpa dolorum rerum dolor, nesciunt quo.</p>

    <div class="row d-flex justify-content-start align-items-center">
      <div class="input col-md-9">
        <input type="email" placeholder="Email...." class="w-100 py-1 px-2 form-control border-0 my-2">
      </div>
      <div class="btn col-md-2">
        <a class="main-btn text-decoration-none"> subscribe</a>
      </div>
    </div>
    <div class="icons fs-5">
      <i class="fa-brands fa-facebook px-2 "></i>
      <i class="fa-brands fa-twitter px-2"></i>
      <i class="fa-brands fa-tiktok px-2 "></i>
    </div>
</footer>
