<section *ngIf="step1" class="container">
  <div class="px-3 py-4 mt-5 bgPer rounded-2 shadow w-75 mx-auto ">
  <form [formGroup]="forgotPassword" (ngSubmit)="ForgotPassword()">
    <div>
      <label for="email" class="form-label colorPink">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="email..."
        formControlName="email"/>
    </div>

    <div class="errors alert alert-danger my-2 w-50 py-2 mx-auto text-center" *ngIf="forgotPassword.get('email')?.errors && forgotPassword.get('email')?.touched">
      <p *ngIf="forgotPassword.get('email')?.getError('required')" class="mb-0">email is required</p>
      <p *ngIf="forgotPassword.get('email')?.getError('email')" class="mb-0">invalid email</p>
    </div>

    <button type="submit" class="main-btn my-lg-3 my-md-2">Forgot Password</button>

    <div *ngIf="userMessage !== ''" class="alert alert-danger my-2 w-50 mx-auto text-center">
      <p class="mb-0">{{userMessage}}</p>
    </div>

  </form>
  </div>
</section>

<section *ngIf="step2" class="container">
  <div class="px-3 py-4 mt-5 bgPer rounded-2 shadow w-75 mx-auto">
  <form [formGroup]="resetCode" (ngSubmit)="ResetCode()">
    <div>
      <label for="code" class="form-label colorPink">Reset code</label>
      <input
        type="text"
        class="form-control"
        name="code"
        id="code"
        placeholder="code..."
        formControlName="resetCode"/>
    </div>

    <button type="submit" class="main-btn my-lg-3 my-md-2">Reset code</button>
    <div *ngIf="userMessage !== ''" class="alert alert-danger my-2 w-50  mx-auto text-center">
      <p class="mb-0">{{userMessage}}</p>
    </div>
  </form>
  </div>
</section>

<section *ngIf="step3" class="container ">
  <div class="px-3 py-4 mt-5 bgPer rounded-2 shadow w-75 mx-auto">
  <form [formGroup]="resetPassword" (ngSubmit)="ResetPassword()">
    <div class="mb-3">
      <label for="password" class="form-label colorPink">Reset password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="password..."
        formControlName="newPassword"/>
    </div>

    <div class="errors alert alert-danger small my-2" *ngIf="resetPassword.get('password')?.errors && resetPassword.get('password')?.touched">
      <p *ngIf="resetPassword.get('password')?.getError('required')">password is required</p>
      <p *ngIf="resetPassword.get('password')?.getError('pattern')">invalid password</p>
    </div>

    <button type="submit" class="main-btn my-lg-3 my-md-2">Reset password</button>
    <div *ngIf="userMessage !== ''" class="alert alert-danger my-2 w-50  mx-auto text-center">
      <p class="mb-0">{{userMessage}}</p>
    </div>
  </form>
  </div>
</section>
