<section>
  <div class="nav-auth">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center row mx-3" id="nav-blank">
          <div class="logo col-lg-3 col-md-12 col-sm-12 d-flex justify-content-between align-items-center row">
            <a class="navbar-brand text-center col-lg-12 col-md-4 col-sm-4" routerLink="/home">
              <img src="./assets/images/لقطة_شاشة_2024-04-05_061111-removebg-preview.png" alt="icon" width="30%">
            </a>
            <div class="button col-lg-0 col-md-3 col-sm-3">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="colorPink fs-2 border-0"><i class="fa-solid fa-ellipsis-vertical"></i></span>
              </button>
            </div>
          </div>
          <div class="col-6"></div>
          <div class="collapse navbar-collapse col-lg-3 col-md-12 col-sm-12 px-0" id="navbarSupportedContent">
          <div class="links">
              <div class="parts d-flex justify-content-between align-items-center ">
                <div class="icons fs-5">
                  <i class="fa-brands fa-facebook px-1 colorPink"></i>
                  <i class="fa-brands fa-twitter px-1 colorPer"></i>
                  <i class="fa-brands fa-tiktok px-1 colorPink"></i>
                </div>
                <div class="ul ms-lg-1 ms-md-2">
                  <ul class="navbar-nav" >
                    <li class="nav-item">
                      <a class="nav-link link" routerLink="/register" routerLinkActive="active-link">Register</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link" routerLink="/logIn" routerLinkActive="active-link">logIn</a>
                    </li>
                    </ul>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </nav>

  </div>
</section>
